@media (max-width: 1200px) {
    /* your code should be written here  */
    .grid-content-tile {
        width: 30%;
        margin: 1rem;
    }
  
}

@media (max-width: 600px) {
    /* your code should be written here  */
    .container {
        display: block;
    }
    .nav {
        width: 90%;
        display: flex;
        margin: 0 auto;
    }
  
    .grid-content-tile {
        width: 35%;
        margin: 1rem;
    }
}

@media (min-width: 1800px) {
    /* your code should be written here */

    .container {
        display: block;
    }
    .grid-content {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        margin-top: 2rem;
        justify-content: center;
    }
    .top {
        width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
    }
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        flex-direction: row;
    }
.content{
    width: 80%;
    position: absolute;
    right: 0;
}
}